---
interface Props {
	title: string;
	excerpt: string;
	featuredImage: string;
	date: string;
    slug: string;
}

const { title, excerpt, featuredImage, date, slug } = Astro.props;
---
<article>
    <a href={`/post/${slug}`} class="block">
        <img
            alt={title}
            src={featuredImage}
            class="h-64 w-full object-cover sm:h-80 lg:h-96"
        />
        <h3 class="mt-4 text-lg font-bold text-gray-900 sm:text-xl">{title}</h3>
        <div class="mt-2 max-w-sm text-gray-700" set:html={excerpt}></div>
        <p class="mt-2 text-sm max-w-sm text-gray-700">
            {date}
        </p>
    </a>
</article>